@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var item in Model.tasks) {
        @Html.DisplayFor(modelItem => item.duration)
}

<a href="/AddTask">Add Task / Plan Week</a>