@{
    ViewData["Title"] = "Home Page";
}
<br />
<a href="/AddTask">Add Task / Plan Week</a>
<h2>Current Task</h2>
<input type="hidden" id="workid" />
<input type="hidden" id="starttime" />
@Html.DropDownList("plannedTasksList") <input type="button" id=btnStart onclick="Start(); return false;" value="Start" /> <input type="button" id=btnStop onclick="Stop(); return false;" value="Stop" />